<% layout('boilerplate') -%>
<div class="wrapper contact">
    <div class="container">
      <h1>404 Error</h1></br>
      <p class="lead">Looks like there is nothing here.</p>
      <div id="back">
        <a href="/"><span class="blog-small"><i class="fa fa-angle-left"></i> BACK TO HOME</span></a>
      </div>
  </div>
</div>
