<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gregory Dunn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
    <%-scripts%>
    <%-stylesheets%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="nav">
          <div class="container">
              <p><a href="/">Gregory Dunn</a></p>
            <div class="nav-links" id="desktop">
              <ul>
                <li><a href="/">Work</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About / Contact</a></li>
              </ul>
            </div>
            <div class="nav-links" id="mobile">
              <button class="btn-dark btn-clear ham"><span class="blog-small">MENU</span>&nbsp;<i class="fa fa-angle-down"></i></button>
            </div>
            <div class="mobile-navigation">
              <div class="mobile-inner">
                <ul>
                  <li><a href="/">Work</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/about">Contact</a></li>
                  <li><a class="ham" href="#">Back</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="iphone-nav">
          <button class="btn-dark btn-clear ham"><span class="blog-small">MENU</span>&nbsp;<i class="fa fa-angle-down"></i></button>
      </div>
      <%- body %>
    </div>
    <div class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-12" id="gregory-dunn">
              <p>Gregory Dunn</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="footer-nav">
                <ul>
                  <li><a href="/">Work</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/about#about">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="footer-nav">
                <ul>
                  <li><a href="https://www.instagram.com/grdunn">Instagram</a></li>
                  <li><a href="https://github.com/grdunn">Github</a></li>
                  <li><a href="https://www.twitter.com/grdunn">Twitter</a></li>
                  <li><a href="https://codepen.io/grdunn/">Code Pen</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36229621-2', 'auto');
  ga('send', 'pageview');
    $(document).ready(function(){

  // if ($(window).width() < 991) {
      $(window).scroll(function(event){
        var st = $(this).scrollTop();
          if (st > 200) {
            $('#iphone-nav').addClass('iphone-nav-show')
          } else if (st < 200){
            $('#iphone-nav').removeClass('iphone-nav-show')
          }
        })
      // }

      $(window).on('resize', function () {
        if (window.innerWidth > 991) {
          $(".mobile-navigation").hide();
        }
      })
      $('#show-image').addClass('show')
      $(".ham").click(function () {
        $(".mobile-navigation").fadeToggle(500);
      });
    })
    </script>
  </body>
</html>
