<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gregory Dunn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <%-scripts%>
    <%-stylesheets%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="nav">
          <div class="container">
            <p>Gregory Dunn</p>
            <div class="nav-links">
              <ul>
                <li>Work</li>
                <li>About</li>
                <li>Hire Me</li>
                <li>Blog</li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
