<% layout('boilerplate') -%>
<div class="container-fluid work">
  <div class="row">
      <%projects.forEach(function(project, i) {%>
        <% if(i % 3 == 0) { %>
          <div class="clearfix visible-md-block"></div>
          <div class="clearfix visible-lg-block"></div>
        <% } %>
        <% if(i % 2 == 0) { %>
          <div class="clearfix visible-sm-block"></div>
        <% } %>
        <div class="col-md-4 col-sm-6 padding">
          <div class="project">
            <a href="/project/<%-project.slug%>" class="project-link"><img src="/images/portfolio/<%-project.photo.filename%>"/></a>
            <h2 class="meta"><%-project.title%></br></br>
              <%project.categories.forEach(function(category, i){%>
                <span class="blog-small"><%-category.name%></span>
                <% if (project.categories.length > 1 && project.categories.length - 1 != i) { %>
                  <span class="blog-small">/</span>
                <% } %>
              <%})%>
            </h2>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <script>
$(document).ready(function(){
    var didScroll,
    navbarHeight = $('nav').outerHeight() - 50;
  $(window).scroll(function(event){
    var st = $(this).scrollTop();
    if (st >= navbarHeight) {
      $('nav').addClass('stuck');
      $('.wrapper').addClass('stuck-margin');
    } else if (st < navbarHeight){
      $('nav').removeClass('stuck');
      $('.wrapper').removeClass('stuck-margin');
    }
  });
})
  </script>
