@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f8f8f8;
}

.img-responsive {
  transition: .3s;
}

#show-image {
  opacity: 0;
  transition: .8s;
}

.show {
  opacity: 1 !important;
}

.lead {
  color: #4a4a4a;
}

html {
  position: relative;
  min-height: 100%;
}

h1,h2,h3,h4,h5,p,li {
  margin: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.form {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.wrapper {
  margin-top: 30px;
  margin-bottom: 300px;
}

nav {
  width: 100%;
  padding: 40px;
}

nav a {
  color: black
}

nav a:hover {
  text-decoration: none;
  color: black;
}

nav p,
.footer p {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.work img {
  width: 100%;
  border-radius: 3px;
}

.work {
  margin-top: 50px;
}

.nav-links {
  display: inline-block;
  float: right;
}

.nav-links ul {
  margin: 0px;
  padding: 0px;
}

.nav-links a {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #939393;
  transition: .3s;
}

.nav-links a:hover {
  text-decoration: none;
}

.nav-links ul li {
  display: inline;
  padding-left: 30px;
}

.project {
  text-align: center;
  margin-bottom: 100px;
}

.project h1 {
  letter-spacing: 1px;
  color: #1d1d1d;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.h1class {
  letter-spacing: 1px;
  color: #1d1d1d;
  max-width: 300px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project p{
  width: 300px;
  margin: auto;
  margin-top: 20px;
  line-height: 1.8;
  color: #4a4a4a;
  font-size: 1.3rem;
}

.blog-post {
  margin-bottom: 100px;
}

.blog-post img {
  margin-bottom: 20px;
}

.blog-post p {
  margin-bottom: 20px;
  line-height: 23px;
}

.contact {
  margin-bottom: 370px;
}

.about p {
  line-height: 1.8;
  color: #4a4a4a;
}

.button {
  background-color: transparent;
  border: 1px solid #1d1d1d;
  border-radius: 3px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: .3s;
}

.button:hover {
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  color: #f1f1f1;
}


.project-link {
  transition: .3s;
}

.project-link:hover {
  opacity: .1;
}

.project-link:hover + .meta {
  display: block;
}

.project h2,
.hire-me {
  font-weight: 500;
  letter-spacing: 1px;
  color: #1d1d1d;
  font-size: 1.5rem;
  top: 130px;
  position: absolute;
  width: 92.4%;
  margin: auto;
  text-transform: uppercase;
  z-index: -1;
}

.hire-me h3,
.hire-me a {
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  transition: .3s;
}

.hire-me a:hover {
  text-decoration: none;
}

.hire-me {
  z-index: 999;
}

.meta {
  display: none;
}

.small {
  margin-top: 40px;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: grey;
}

.blog-small {
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: grey;
}

.footer {
  background-color: #373737;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: #f1f1f1;
}

.footer-content {
  /*background-color: #1d1d1d;*/
  margin-top: 100px;
}

.footer-nav {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav ul li {
  padding-bottom: 5px;
}

.footer-nav a {
  color: white;
  transition: .3s;
}

.footer-nav a:hover {
  text-decoration: none;
  opacity: .5;
}

.about-work {
  padding: 100px;
  text-align: center;
}

a .btn-dark {
  color: black;
}

.btn-dark {
  background-color: transparent;
  letter-spacing: 1px;
  border: 1px solid grey;
  padding: 10px 30px;
  border-radius: 3px;
}

.btn-dark:hover {
  border: 1px solid #373737;
  background-color: #373737;
  color: #f1f1f1;
  transition: .3s;
}

.btn-clear,
.btn-clear:hover {
  border: 1px solid transparent;
  background-color: transparent;
  color: black
}

.pagination {
  margin: 0px;
  width: 100%;
  text-align: right;
}

.pagination a {
  color: black;
}

#back {
  margin-top: 50px;
}

#mobile {
  display: none;
}

.mobile-navigation {
  font-family: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  margin: 0 auto;
  overflow: hidden;
}

.mobile-inner ul {
  list-style: none;
  padding: 0px;
}

.mobile-inner ul li {
  padding: 10px;
}

.mobile-inner a {
  font-size: 4rem;
  text-transform: uppercase;
  color: #939393;
}

.mobile-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



/*3 Rows Smaller*/
@media (max-width: 1199px) {
  .project h2 {
    top: 100px;
  }
}

/*iPhone*/
@media (max-width: 991px) {

  #gregory-dunn {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  #mobile {
    display: inline-block;
  }

  #desktop {
    display: none;
  }
  .footer-content {
    text-align: center;
    margin-top: 35px;
  }

  .last-project {
    display: none;
  }

  .footer-nav ul {
    margin-top: 10px;
    padding: 0px;
  }
  .lead {
    padding-top: 80px;
  }
  .project h2 {
    top: 130px;
  }
  nav {
    text-align: center;
    padding: 0px;
    padding-top: 40px;
  }
  .nav p {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .nav-links {
    float: none;
    display: block;
    text-align: center;
  }

  .nav-links ul li {
    padding-left: 0px;
    padding: 10px;
  }

  .blog-post img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blog-post p {
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 23px;
  }
}
